        <div class="grid-x grid-margin-x">
          <div class="cell">
            <table>
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Content type</th>
                  <th>Name</th>
                  <th>Path</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for o in object_list %}
                <tr>
                  <td>{{ o.view_class }}</td>
                  <td>{{ o.content_type }}</td>
                  <td>{{ o.name }}</td>
                  <td>{{ o.path }}</td>
                  <td><a href="{% url 'component_detail' o.pk %}">Detail</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>