{% load static screen %}

    <div data-sticky-container>
      <div class="multilevel-offcanvas off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        {% component "menu" %}
      </div>
      <div class="sticky" data-sticky data-margin-top="0">
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li>
                  <button class="offcanvas-trigger" type="button" data-open="offCanvasLeft">
                    <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
                    <div class="hamburger">
                      <span class="line"></span>
                      <span class="line"></span>
                      <span class="line"></span>
                    </div>
                  </button>
                </li>
                <li>
                   <a class="top-bar-logo"><img class="logo" src="{% static 'logo.png' %}"></a>
                </li>
                <li id="breadcrumb-container">
                  <nav id="breadcrumb" aria-label="You are here:" role="navigation">
                    <ul class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      {% component "breadcrumb" %}
                    </ul>
                  </nav>
                </li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu">
                {% component screen "tools" %}
                <li class="hide-for-small-only"><a href="#">TOUR</a></li>
                <li class="hide-for-small-only"><a href="#">LOGIN</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container full">
      {% component "main" %}
    </div>

